.community-section-div {
  height: 90vh;
}
.community-parent-div {
  height: 90vh;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
}
.community-parent-div h1 {
  width: 45%;
}
.community-parent-div p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.community-div {
  width: 95%;
  height: 50vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.box1 {
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 50vh;
  width: 700px;
}
.box1-1 {
  height: 50vh;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(243, 255, 243);
  align-items: center;
}
.box1-1 div {
  height: 80px;
  width: 100px;
}
.box1-1 div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* media query */

@media (max-width: 1024px) {
  .community-section-div {
    height: 70vh;
  }
  .community-parent-div {
    height: 70vh;
  }
  .community-parent-div h1 {
    font-size: x-large;
  }
  .community-div p {
    font-size: small;
  }
  .community-div {
    width: auto;
    height: auto;
    gap: 10px;
  }
  .box1 {
    height: auto;
    width: auto;
    gap: 10px;
  }
  .box1-1 {
    height: auto;
    width: auto;
  }
  h2 {
    font-size: large;
  }
}
@media (max-width: 834px) {
  h2 {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .community-section-div {
    height: auto;
  }
  .community-parent-div {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }
  .community-div {
    flex-wrap: wrap;
    height: auto;
  }
  .box1 {
    width: 100%;
    height: auto;
  }
  #third-div {
    width: 100%;
  }
  .community-parent-div h1 {
    font-size: large;
    width: 60%;
  }
  .community-parent-div p {
    font-size: x-small;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
}
