.ourclient-section-div {
  height: 40vh;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.ourclient-parent-div {
  height: 40vh;
  width: 95%;
}
.ourclient-section-div p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.clientlogo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  height: 180px;
}
.clientlogo-div div {
  height: 100px;
  width: 100px;
}
.clientlogo-div div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* media query  */
@media (max-width: 1024px) {
  .ourclient-section-div {
    height: 35vh;
  }
  .ourclient-parent-div {
    height: 35vh;
    width: 95%;
    margin-top: 20px;
  }
  .ourclient-parent-div {
    margin-top: 20px;
  }
  .clientlogo-div {
    height: 80px;
    gap: 50px;
  }
  .clientlogo-div div {
    height: 50px;
    width: 50px;
  }
  .ourclient-parent-div p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 834px) {
  .ourclient-parent-div h1 {
    font-size: x-large;
  }
  .ourclient-parent-div p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: small;
  }
  .clientlogo-div {
    height: 80px;
    gap: 80px;
  }
  .clientlogo-div div {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 768px) {
  .ourclient-parent-div h1 {
    font-size: large;
  }
}
@media (max-width: 480px) {
  .clientlogo-div {
    height: 100px;
    gap: 30px;
  }
  .clientlogo-div div {
    height: 40px;
    width: 40px;
  }
}
