.Helping-section-div {
  height: 40vh;
  background-color: rgb(243, 255, 243);
}
.Helping-parent-div {
  height: 40vh;
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.Helping-parent-div div {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 40%;
  height: 30vh;
  align-content: center;
}
.business {
  color: green;
}
.Helping-parent-div div p {
  margin-top: 10px;
}
.members {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.members div {
  height: 30vh;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.members div div {
  width: 200px;
  height: 14vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  align-content: center;
}
.members div div div {
  height: 60px;
  width: 60px;
}
.members div div div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#writeup {
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* media query  */
@media (max-width: 1024px) {
  .Helping-section-div {
    width: auto;
    height: 30vh;
  }
  .Helping-parent-div {
    height: 30vh;
    width: auto;
    gap: 10px;
  }
  .Helping-parent-div div {
    height: 30vh;
    width: auto;
  }
  .members {
    width: auto;
  }
  .members div div {
    width: auto;
  }
  .members div div div {
    width: auto;
  }
}
@media (max-width: 834px) {
  .Helping-section-div {
    height: 30vh;
  }
  .Helping-parent-div {
    height: 30vh;
    width: auto;
    gap: 5px;
  }
  .Helping-parent-div div {
    height: 30vh;
    width: auto;
  }
  .members {
    width: auto;
  }
  .members div {
    width: auto;
  }
  .members div div {
    width: auto;
  }
  .members div div div {
    width: auto;
    height: 50px;
  }
  p {
    font-size: small;
  }
  h3 {
    font-size: large;
  }
}
@media (max-width: 768px) {
  .Helping-section-div {
    width: auto;
    height: auto;
  }
  .Helping-parent-div {
    width: auto;
  }
  .Helping-parent-div div {
    width: auto;
  }
  .members {
    width: auto;
  }
  .members div {
    width: auto;
  }
  .members div div {
    width: auto;
  }
  .members div div div {
    width: auto;
  }
}
@media (max-width: 480px) {
  .Helping-section-div {
    height: auto;
  }
  .Helping-parent-div {
    height: auto;
    flex-wrap: wrap;
  }
  .Helping-parent-div div {
    width: 95%;
  }
  p {
    font-size: x-small;
  }
  h3 {
    font-size: large;
  }
}
