.Marketing-section-div {
  height: 120vh;
}
.Marketing-parent-div {
  height: 120vh;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.Marketing-parent-div p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Caring-div {
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.Caring-div div {
  height: 500px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.Caring-div div div {
  margin-top: 20px;
  height: 390px;
  width: 360px;
}
.Caring-div div div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
#detail-div {
  height: 150px;
  width: 300px;
  background-color: rgb(243, 255, 243);
  position: relative;
  top: -60px;
}
#detail-div h4 {
  color: rgb(80, 80, 80);
}
#detail-div button {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  background-color: green;
  border-color: transparent;
  color: white;
}

/* media query  */
@media (max-width: 1024px) {
  .Marketing-section-div {
    height: auto;
    width: auto;
  }
  .Marketing-parent-div {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: auto;
  }
  .Caring-div div {
    width: auto;
  }
  .Caring-div div div {
    width: auto;
  }
  #detail-div {
    width: 80%;
  }
  #detail-div h4 {
    font-size: 15px;
  }
  .Marketing-parent-div p {
    font-size: small;
    width: 60%;
  }
  .Marketing-parent-div h1 {
    font-size: x-large;
  }
}
@media (max-width: 834px) {
  .Marketing-section-div {
    height: 80vh;
    width: auto;
  }
  .Marketing-parent-div {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80vh;
  }
  .Caring-div {
    width: auto;
    height: 400px;
  }
  .Caring-div div {
    width: auto;
    height: 300px;
  }
  .Caring-div div div {
    width: auto;
    height: 300px;
  }
  #detail-div {
    width: 80%;
    height: 100px;
  }
  #detail-div h4 {
    font-size: small;
    width: auto;
  }
  .Marketing-parent-div p {
    font-size: x-small;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Marketing-parent-div h1 {
    font-size: large;
  }
}
@media (max-width: 768px) {
  .Marketing-section-div {
    height: 80vh;
  }
  .Marketing-parent-div {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80vh;
  }
  .Caring-div {
    height: 400px;
  }
  .Caring-div div {
    width: auto;
    height: 300px;
  }
  .Caring-div div div {
    width: auto;
    height: 300px;
  }
  #detail-div {
    width: 80%;
    height: 100px;
  }
  #detail-div h4 {
    font-size: x-small;
    width: 80%;
  }
  .Marketing-parent-div p {
    font-size: x-small;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Marketing-parent-div h1 {
    font-size: large;
  }
  #detail-div button {
    width: auto;
    font-size: x-small;
  }
}
@media (max-width: 480px) {
  .Caring-div {
    flex-wrap: wrap;
  }
}
