.nav-section-div {
  height: 10vh;
}
.parent-div {
  height: 10vh;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nav-logo {
  height: 5.8vh;
  width: 230px;
}
.nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.last-button {
  background-color: green;
  color: white;
  height: 35px;
  width: 120px;
  padding-top: 6px;
  border-radius: 10px;
}
.menuicon {
  display: none;
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
  font-size: x-large;
  color: black;
}

/* media query  */
@media (max-width: 1024px) {
  .parent-div {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
}
@media (max-width: 834px) {
  .parent-div {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
}
@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
  .menuicon {
    display: flex;
  }
  .parent-div {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .parent-div {
    text-align: center;
  }
  .menuicon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
