.footer-section-div {
  height: 50vh;
  background-color: rgb(50, 50, 63);
  color: white;
}
.footer-parent-div {
  height: 50vh;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.line {
  background-color: white;
  height: 1px;
  width: 98%;
  margin-bottom: 5px;
}
.footer {
  height: 30vh;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.footer div {
  height: 30vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 5px;
}
.footer div div {
  height: 30vh;
  width: 150px;
}
.write {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#footer-img {
  height: 30px;
  width: 200px;
}
#footer-img img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
/* #footericons {
  height: 50px;
  width: 295px;
} */

/* media query */
@media (max-width: 1024px) {
  .footer-section-div {
    width: auto;
    height: auto;
  }
  .footer-parent-div {
    width: auto;
    height: auto;
  }
  .footer {
    width: auto;
  }
  .footer div {
    width: auto;
  }
  #footer-img {
    width: auto;
  }
  .write {
    width: auto;
  }
  p {
    font-size: small;
  }
}
@media (max-width: 834px) {
  .footer-section-div {
    width: auto;
    height: auto;
  }
  .footer-parent-div {
    width: auto;
    height: auto;
  }
  .footer {
    width: auto;
    height: auto;
  }
  .footer div {
    width: auto;
    height: auto;
  }
  #footer-img {
    width: auto;
  }
  .write {
    width: auto;
    height: auto;
  }
  p {
    font-size: small;
  }
}
@media (max-width: 768px) {
  .footer-section-div {
    height: auto;
  }
  .footer-parent-div {
    padding-top: 10px;
    height: auto;
  }
  .footer {
    height: auto;
    flex-wrap: wrap;
  }
  .footer div {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer-section-div {
    height: auto;
  }
  .footer-parent-div {
    padding-top: 10px;
    height: auto;
  }
  .footer div {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer div div {
    width: 100%;
  }
}
